[user]
	name = Antolin Janssen
	email = admin@antiftw.nl
[init]
    defaultBranch = main
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    di = diff
    lg = log
    pl = pull
    ps = push
    me = merge
    rb = rebase
    cn = clone
    rs = reset
    tg = tag
    sh = stash
    sp = stash pop
